name: Pull Docker Images

# Controls when the action will run. Triggers the workflow on push request
on:
  schedule:
    - cron:  '* * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    # Test
    - name: Test
      run: curl ya.ru

