name: Pull Docker Images

# Controls when the action will run
on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 1 */2 *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Login to Docker
      run: docker login -u ${{ secrets.UNAME }} -p ${{ secrets.UPASS }}

    - name: Pull Docker images
      run: for i in $(docker search --limit 100 --no-trunc --format "{{.Name}}" ${{ secrets.UNAME }}); do docker pull ${i} || true ; done
