name: Pull Docker Images

# Controls when the action will run
on: push

#  schedule:
    # * is a special character in YAML so you have to quote this string
#    - cron:  '*/15 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    - name: Get a token
      #run: TOKEN=$(curl -s -H "Content-Type: application/json" -X POST -d '{"username": ${{ secrets.UNAME }}, "password": ${{ secrets.UPASS }} }' https://hub.docker.com/v2/users/login/ | jq -r .token)
      run: curl -s -H "Content-Type: application/json" https://hub.docker.com/v2/users/login/ | jq -r .token

#    - name: Get a token
#      run: echo ${{ secrets.UNAME }}
#    - name: Get images
#      run: REPO_LIST=$(curl -s -H "Authorization: JWT ${TOKEN}" https://hub.docker.com/v2/repositories/${UNAME}/?page_size=100 | jq -r '.results|.[]|.name')     

