name: Pull Docker Images

# Controls when the action will run
on: push

#  schedule:
    # * is a special character in YAML so you have to quote this string
#    - cron:  '*/15 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    - name: Get a token
      run: echo ::set-env name=TOKEN::$(curl -s -H "Content-Type:application/json" -X POST -d '{"username":${{ secrets.UNAME }},"password":${{ secrets.UPASS }}}' https://hub.docker.com/v2/users/login/ | jq -r .token)

    - name: Get images list
      run: echo ::set-env name=REPO_LIST::$(curl -s -H "Authorization:JWT ${TOKEN}" https://hub.docker.com/v2/repositories/${{ secrets.UNAME}}/?page_size=100 | jq -r '.results|.[]|.name')     

    - name: Login to Docker
      run: docker login -u ${{ secrets.UNAME }} -p ${{ secrets.UPASS }}

    - name: Pull Docker images
      run: echo ${REPO_LIST};echo "test"

    - name: Pull Docker images
      run: for i in ${REPO_LIST};do docker pull ${{ secrets.UNAME }}/${i};done
